<table role="grid">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th><%= Politician.human_attribute_name("id") %></th>  
      <th><%= Politician.human_attribute_name("full_name") %></th>
      <th><%= Politician.human_attribute_name("party") %></th>
      <th><%= Politician.human_attribute_name("location_20") %></th>
      <th><%= Politician.human_attribute_name("total_statuses") %></th>
      <th><%= Politician.human_attribute_name("unprocessed") %></th>
      <th><%= Politician.human_attribute_name("last_refresh_time") %></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @politicians.each do |politician| %>
      <tr>
        <td><%= image_tag politician.avatar.url(), :class => "radius" %></td>
        <td><%= politician.id %></td>
        <td><%= politician.full_name %></td>
        <td><%= politician.party.name %></td>
        <td><%= politician.location_20 %></td>
        <td><%= politician.total_statuses %></td>
        <td><%= politician.unprocessed_statuses %></td>
        <td><%= l politician.last_refresh_time, format: :long if !politician.last_refresh_time.nil? %></td>
        <td><%= button_to t("buttons.status_update"), get_new_statuses_politician_path(politician) %></td>
        <td><%= button_to t("buttons.image_update"), get_avatar_picture_politician_path(politician) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

